html {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.1)
    ),
        url("https://i.imgur.com/nr6vDBr.jpg");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
}

/*########## Page Text ##########*/

.bodyText {
    position: fixed;
    width: 40%;
    height: auto;
    margin-left: 27%;
    padding-left: 5%;
    margin-top:  12%;
    padding-right: 5%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .65)
}

.bodyText p {
    color: white;
    font-family: 'Vollkorn', serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 200%;
}

.inlineLinks {
    text-decoration: none;
    color: darkseagreen;
}

/*########## Social media icons ##########*/
img {
    max-width: 100%;
    height: auto;
    padding 5px;
    opacity: 0.9;
    margin-bottom: auto;
    display: block;
}

.linkImg {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 0px solid transparent;
}

.row {
    display: flex;
    width: 30%;
    margin-left: auto;
    top: 10%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

[class*="col-"]{
    border: 0px solid transparent;
    padding:15px;
    float: left;
}

/*########## Nav bar ##########*/
nav {
    width: 100%;
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 2%;
}

nav ul {
    background-color: black;
    opacity: .5;
    overflow: hidden;
    margin: 0;
    padding: 1;
}

ul.navbar li {
    list-style: none;
    float: left;
}

ul.navbar li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #fff;
}

ul.navbar li a:hover {
    background-color: #9AABC5;
    color: black;
}

ul.navbar li.dropdownIcon {
    display: none;
}

/*########## Mobile ##########*/
@media screen and (max-width: 780px) {
    
/*Nav bar*/
ul.navbar li {
        display: none;
    }

ul.navbar li.dropdownIcon {
        display: block;
        float: left;
    }
    
ul.navbar.responsive li. dropdownIcon {
        position: absolute;
        top: 0;
        left: 0;
    }
    
ul.navbar.responsive {
        position: relative;
    }
    
ul.navbar.responsive li {
        display: inline;
        float: none;
    }
    
ul.navbar.responsive li a {
        display: block;
        text-align: left;
    }
}