/*########## Defaults ##########*/
html {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(25, 0, 25, 0.7)
    ),
        url("landing_background.jpg");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
}

/*########## Social media icons ##########*/
img {
    padding 5px;
    opacity: 0.9;
    margin-bottom: auto;
    display: block;
}

.linkImg {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 0px solid transparent;
}

.row {
    display: flex;
    width: 30%;
    margin-left: auto;
    top: 10%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

[class*="col-"]{
    border: 0px solid transparent;
    padding:15px;
    float: left;
}

/*########## Overlay text ##########*/
.textOverlay {
    height: 50%;
    width: 110%;
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 17%;
    justify-content: center;
}

.textOverlay p {
    font-size:6vw;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 124px;
    animation: fadeIn 6s;
}

/*########## Text overlay fade-in ##########*/
@keyframes fadeIn {
    from {opacity: 0;
    }
    to {opacity: 1;   
    }
}

/*########## Bandcamp Player ##########*/
.musicPlayer {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 7%;
    margin-right: 1.5%;
}

/*########## Nav bar ##########*/
nav {
    width: 100%;
    margin: 0;
    position: fixed;
    left: 0;    
    bottom: 0;
    margin-bottom: 2%;
}

nav ul {
    background-color: dimgray;
    opacity: .6;
    overflow: hidden;
    margin: 0;
    padding: 1;
}

ul.navbar li {
    list-style: none;
    float: left;
}

ul.navbar li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #fff;
}

ul.navbar li a:hover {
    background-color: #f2d9e6;
    color: black;
}

ul.navbar li.dropdownIcon {
    display: none;
}

/*########## Mobile ##########*/
@media screen and (max-width: 80px) { 
/*Nav bar*/

ul.navbar li {
        display: none;
    }

ul.navbar li.dropdownIcon {
        display: block;
        float: left;
    }
    
ul.navbar.responsive li. dropdownIcon {
        position: absolute;
        top: 0;
        left: 0;
    }
    
ul.navbar.responsive {
        position: relative;
    }
    
ul.navbar.responsive li {
        display: inline;
        float: none;
    }
    
ul.navbar.responsive li a {
        display: block;
        text-align: left;
    }
}